@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

.intro {
    background-color: #e5e5e5;
    background-image: url(./images/pic1.png);
    background-size: cover;
}

li {
    list-style: none;
}

.menu {
    display: none;
}

.welcome {
    color: black;
    display: none;
}


.nav-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    font-size: 17px;
}

.nav-item {
    color: black;
}

.page-links {
    display: flex;
    height: 20px;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
    cursor: pointer;
}

.icon-list {
    color: black;
}

.content {
    padding: 20px;
}

.greetings {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: center;
    padding-top: 100px;

}

.first {
    color: green;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    font-family: Inter;
    font-style: normal;
}

.second {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

/* media queries */
@media screen and (max-width: 600px) {
    .nav-list {
        display: none;
    }
    .welcome {
        display: block;
        background-color: white;
        color: #000;
        font-size: 20px;
        padding: 10px;

    }
    .welcome i {
        display: inline;
        float: right;
        margin-top: 5px;

    }
    .intro {
        background-image: url(./images/pic1.png);
        background-size: contain;
        width: 475px;
        height: 600px;
    }

    .greetings {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    }

    .first {
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
    }
    .second {
        font-size: 20px;
        font-weight: 400;
        align-items: center;
        line-height: 20px;
        font-style: normal;
        letter-spacing: 0em;
        width: 327px;
        height: 164px;
    }

    .page-links {
        cursor: pointer;
    }
    .welcome:hover {
        text-decoration: underline;
    }
    a:hover {
        background-color: blue;
    }
} 

